@charset "UTF-8";
html {
  background-color: black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none;
  color: #1F7DA4; }

.textbox {
  padding: 0;
  margin: 0;
  height: 30px; }

.inline {
  display: inline-block; }

.radio {
  cursor: pointer;
  text-transform: uppercase; }
  .radio input[type="radio"] {
    margin: 0px 5px 0px 0px;
    vertical-align: middle;
    flex-shrink: 0;
    background-color: #fff;
    position: relative;
    left: 0;
    top: -1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #585858;
    border-radius: 20px;
    height: 18px;
    width: 18px;
    outline: 0;
    /* puts square focus rect around the round control if omitted, handle focus by changing border color */
    z-index: 9; }
    .radio input[type="radio"]:checked {
      background: #fff; }
      .radio input[type="radio"]:checked:after {
        display: block;
        content: "";
        position: relative;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -5px;
        background: #1F7DA4;
        border-radius: 20px;
        height: 10px;
        width: 10px; }

.checkbox {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* separated from above for reason explained in note below */
  /* only applicable if used in conjunction with checkbox class */ }
  .checkbox input {
    background: #fff;
    border: 1px solid #585858;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 18px;
    min-width: 18px;
    margin-right: 5px;
    outline: 0;
    position: relative;
    /* NOTE:003 - this is purely to allow the checkbox to appear over and outside the bounds of
                           * the box itself. If this UX is not really desired we can remove this. SERWIN */ }
    .checkbox input:checked:after {
      content: "\2713";
      font-size: 24px;
      font-weight: bold;
      color: #1F7DA4;
      line-height: 17px;
      position: absolute;
      /* See NOTE:003 */
      left: 50%;
      /* See NOTE:003 */
      top: 50%;
      /* See NOTE:003 */
      margin: -11px 0 0 -6px;
      /* See NOTE:003 */ }
    .checkbox input.iconcheckbox {
      display: none; }
      .checkbox input.iconcheckbox ~ [class*="icon-"]:before {
        font-size: 18px;
        color: #CCC;
        margin-right: 5px; }
      .checkbox input.iconcheckbox:checked ~ [class*="icon-"]:before {
        color: #1F7DA4; }
      .checkbox input.iconcheckbox.lg ~ [class*="icon-"]:before {
        font-size: 22px; }
  .checkbox.only {
    justify-content: center; }
    .checkbox.only input {
      margin-left: 0;
      margin-right: 0; }
  .checkbox input:disabled:not(.readonly),
  .checkbox input:disabled:not(.readonly) + label {
    border-color: #CCC;
    color: #CCC; }
    .checkbox input:disabled:not(.readonly):checked:after,
    .checkbox input:disabled:not(.readonly) + label:checked:after {
      color: #CCC; }
    .checkbox input:disabled:not(.readonly).iconcheckbox ~ [class*="icon-"],
    .checkbox input:disabled:not(.readonly) + label.iconcheckbox ~ [class*="icon-"] {
      opacity: 0.5; }
  .checkbox input:disabled {
    pointer-events: none; }
  .checkbox.disabled {
    color: #CCC;
    pointer-events: none;
    /* NOTE if your label is a label-info (link) you still will want the pointer-events so that's why the
       * pointer-events:none is on the input and not the entire checkbox control. But if your label is a mix (has a link
       * contained in regular text AND you have the label:for hooked up, you will still receive the check/uncheck pointer
       * event so you'll need to disable manually for those cases or remove the label:for ability */ }
    .checkbox.disabled input {
      border-color: #CCC; }
      .checkbox.disabled input:checked:after {
        color: #CCC; }
    .checkbox.disabled .iconcheckbox ~ [class*="icon-"] {
      pointer-events: none;
      opacity: 0.5; }
  .checkbox.readonly {
    /* NOTE Preventing pointer events at the wrapper level.  Doing this will not provide the same functionality as disabled
       * where you may want the labels to listen for clicks due to links. See styleguide for example readonly with link
       */
    pointer-events: none; }
    .checkbox.readonly input {
      border-color: #CCC; }
  .checkbox input.readonly {
    border-color: #CCC; }
  .checkbox.label-first {
    flex-direction: row-reverse;
    justify-content: flex-end; }
    .checkbox.label-first .iconcheckbox ~ [class*="icon-"]:before,
    .checkbox.label-first input {
      margin-left: 5px;
      /* reverse margin too */
      margin-right: 0; }

.button {
  cursor: pointer;
  color: white;
  height: 30px;
  line-height: 30px;
  min-width: 30px;
  text-align: center;
  font-size: 1.5em;
  background: #1F7DA4; }
  .button.button_secondary {
    background: #666;
    font-size: 1em; }
  .button.button_primary {
    background: #1F7DA4;
    font-size: 1em; }

.dropdown {
  cursor: pointer;
  height: 30px;
  color: #1F7DA4;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 130px;
  padding: 0 5px; }

.module {
  background: white; }
  .module h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background: black;
    color: white;
    vertical-align: middle;
    padding: 5px 0 5px 10px;
    text-transform: uppercase;
    font-size: .8em; }

table {
  border: 1px solid gray;
  width: 100%; }
  table tr {
    height: 30px; }
  table tr:nth-child(even) {
    background-color: lightgray; }

#theMap {
  text-align: center;
  background-color: lightblue; }

#footer {
  background: lightgray;
  text-align: center; }

#radio-group-type {
  display: inline-block;
  whitespace: nowrap; }

.placard-list > div {
  padding: 5px;
  min-height: 112px;
  /* same as SA */
  background: white;
  border-bottom: 1px solid lightgray; }
  .placard-list > div:first-child {
    border-top: 1px solid lightgray; }

.dropdown-dlg {
  display: inline-block;
  position: relative; }
  .dropdown-dlg .dd-button {
    display: inline-block;
    padding: 10px 30px 10px 20px;
    background-color: #E8E8E8;
    cursor: pointer;
    white-space: nowrap; }
    .dropdown-dlg .dd-button:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid black; }
    .dropdown-dlg .dd-button:hover {
      background-color: #b5b5b5; }
  .dropdown-dlg .dd-body {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: white; }
  .dropdown-dlg.dd-open .dd-body {
    display: flex; }
  .dropdown-dlg .dropdown-dlg.right-aligned .dd-body {
    left: auto;
    right: 0; }

/*
    * monitor-page-wrapper (100vh) flex:column
    * ├-header
    * ├-module-inner
    * | ├-mode-settings
    * | | ├-mode-header
    * | | | ├-mode-controls
    * | | | | ├-wrapper_search-and-sort
    * | | | | | ├-div (input + search button)
    * | | | | | └-div button_placard-sort
    * | | | | ├-wrapper_radios-filters
    * | | | | | ├-type-radio-group (2 label radios)
    * | | | | | └-dropdown_filters
    * | | | | └-dropdown_actions
    * | | | └-pagination-results
    * | | ├-placard-list
    * | | └-pagination-nav (#1)
    * | ├-theMap
    * | ├-theList
    * | | └-table
    * | └-pagination-nav (#2)
    * └-footer
    */
.dlg-open #monitor-page-wrapper {
  opacity: 0.7; }

#monitor-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* very important */ }
  #monitor-page-wrapper .module-inner {
    display: flex;
    flex-direction: column;
    flex: 1; }
  #monitor-page-wrapper .mode-settings {
    display: flex;
    justify-content: flex-start;
    width: 100%; }
    #monitor-page-wrapper .mode-settings > .pagination-nav {
      display: none; }
  #monitor-page-wrapper .pagination-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px; }
    #monitor-page-wrapper .pagination-results .separator {
      display: block; }
  #monitor-page-wrapper .wrapper_placard-list-sort {
    background: #1F7DA4;
    padding: 8px;
    display: none;
    align-items: center; }
    #monitor-page-wrapper .wrapper_placard-list-sort select {
      height: 28px;
      flex: 1; }
  #monitor-page-wrapper .wrapper_search-and-sort {
    display: flex; }
    #monitor-page-wrapper .wrapper_search-and-sort > * {
      margin: 0 3px; }
      #monitor-page-wrapper .wrapper_search-and-sort > *:first-child {
        margin-left: 0; }
      #monitor-page-wrapper .wrapper_search-and-sort > *:last-child {
        margin-right: 0; }
    #monitor-page-wrapper .wrapper_search-and-sort > div:first-child {
      flex: 1;
      display: flex; }
      #monitor-page-wrapper .wrapper_search-and-sort > div:first-child input {
        flex: 1;
        padding-left: 5px; }
  #monitor-page-wrapper .pagination-nav {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0; }
  #monitor-page-wrapper .wrapper_radios-filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline; }
    #monitor-page-wrapper .wrapper_radios-filters > * {
      margin: 0 3px; }
      #monitor-page-wrapper .wrapper_radios-filters > *:first-child {
        margin-left: 0; }
      #monitor-page-wrapper .wrapper_radios-filters > *:last-child {
        margin-right: 0; }
  #monitor-page-wrapper .mode-header {
    width: 100%;
    min-height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 5px; }
    #monitor-page-wrapper .mode-header > * {
      flex: 1 0 auto; }
  #monitor-page-wrapper .mode-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto; }
    #monitor-page-wrapper .mode-controls > * {
      margin: 0 3px; }
      #monitor-page-wrapper .mode-controls > *:first-child {
        margin-left: 0; }
      #monitor-page-wrapper .mode-controls > *:last-child {
        margin-right: 0; }
    #monitor-page-wrapper .mode-controls .dropdown_actions {
      margin-left: auto;
      /* push all way to right */ }
  #monitor-page-wrapper .button_placard-sort {
    display: none; }
  #monitor-page-wrapper .placard-list {
    display: none;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    flex: 1; }
  #monitor-page-wrapper #theMap {
    display: none;
    height: 100%; }
  #monitor-page-wrapper.map-mode {
    /* have to put v_gutter on so when/if it wraps */ }
    #monitor-page-wrapper.map-mode .module-inner {
      flex-direction: row;
      justify-content: stretch; }
      #monitor-page-wrapper.map-mode .module-inner > .pagination-nav {
        display: none; }
    #monitor-page-wrapper.map-mode .wrapper_radios-filters > * {
      margin: 3px 0; }
      #monitor-page-wrapper.map-mode .wrapper_radios-filters > *:first-child {
        margin-top: 0; }
      #monitor-page-wrapper.map-mode .wrapper_radios-filters > *:last-child {
        margin-bottom: 0; }
    #monitor-page-wrapper.map-mode .mode-settings {
      min-width: 255px;
      max-width: 380px;
      display: flex;
      flex-direction: column;
      flex: 0 0 30%; }
      #monitor-page-wrapper.map-mode .mode-settings > .pagination-nav {
        display: flex; }
    #monitor-page-wrapper.map-mode .mode-header > * {
      margin: 3px 0; }
      #monitor-page-wrapper.map-mode .mode-header > *:first-child {
        margin-top: 0; }
      #monitor-page-wrapper.map-mode .mode-header > *:last-child {
        margin-bottom: 0; }
    #monitor-page-wrapper.map-mode .mode-controls {
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between; }
      #monitor-page-wrapper.map-mode .mode-controls > * {
        margin: 3px 0; }
        #monitor-page-wrapper.map-mode .mode-controls > *:first-child {
          margin-top: 0; }
        #monitor-page-wrapper.map-mode .mode-controls > *:last-child {
          margin-bottom: 0; }
      #monitor-page-wrapper.map-mode .mode-controls .dropdown_actions {
        display: none; }
    #monitor-page-wrapper.map-mode .button_placard-sort {
      display: block; }
    #monitor-page-wrapper.map-mode .pagination-results {
      max-width: none; }
      #monitor-page-wrapper.map-mode .pagination-results .separator {
        display: none; }
    #monitor-page-wrapper.map-mode .placard-list {
      display: flex; }
    #monitor-page-wrapper.map-mode #theList {
      display: none; }
    #monitor-page-wrapper.map-mode #theMap {
      display: block;
      flex: 1; }

.dropdown-dlg_filters .dd-body {
  max-height: calc(100vh - 145px);
  min-width: 330px; }

.dropdown-dlg_filters .filter-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto; }
  .dropdown-dlg_filters .filter-body > * {
    flex: 0 0 auto; }
  .dropdown-dlg_filters .filter-body > * {
    margin: 5px 0; }
    .dropdown-dlg_filters .filter-body > *:first-child {
      margin-top: 0; }
    .dropdown-dlg_filters .filter-body > *:last-child {
      margin-bottom: 0; }
  .dropdown-dlg_filters .filter-body .wrapper_date > label:first-child,
  .dropdown-dlg_filters .filter-body .wrapper_last > label:first-child,
  .dropdown-dlg_filters .filter-body > label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: #666; }

.dropdown-dlg_filters .filter-footer {
  height: 45px;
  display: flex;
  justify-content: flex-end; }
  .dropdown-dlg_filters .filter-footer > * {
    margin: 0 0.5px; }
    .dropdown-dlg_filters .filter-footer > *:first-child {
      margin-left: 0; }
    .dropdown-dlg_filters .filter-footer > *:last-child {
      margin-right: 0; }
  .dropdown-dlg_filters .filter-footer .button {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%; }

.dropdown-dlg_filters .wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .dropdown-dlg_filters .wrapper > * {
    margin: 5px 0; }
    .dropdown-dlg_filters .wrapper > *:first-child {
      margin-top: 0; }
    .dropdown-dlg_filters .wrapper > *:last-child {
      margin-bottom: 0; }
  .dropdown-dlg_filters .wrapper .checkbox {
    display: flex; }
  .dropdown-dlg_filters .wrapper > * {
    margin-left: 10px; }

.dropdown-dlg_filters .wrapper_date,
.dropdown-dlg_filters .wrapper_last {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .dropdown-dlg_filters .wrapper_date > *,
  .dropdown-dlg_filters .wrapper_last > * {
    margin: 0 1px; }
    .dropdown-dlg_filters .wrapper_date > *:first-child,
    .dropdown-dlg_filters .wrapper_last > *:first-child {
      margin-left: 0; }
    .dropdown-dlg_filters .wrapper_date > *:last-child,
    .dropdown-dlg_filters .wrapper_last > *:last-child {
      margin-right: 0; }
  .dropdown-dlg_filters .wrapper_date .textbox,
  .dropdown-dlg_filters .wrapper_last .textbox {
    flex: 1;
    max-width: 100px; }

.dropdown-dlg_filters .wrapper_dismissed {
  margin-left: 10px; }

.dropdown-dlg_filters .wrapper_alerts {
  flex-flow: row wrap; }
  .dropdown-dlg_filters .wrapper_alerts .checkbox {
    flex: 0 0 45%;
    white-space: nowrap; }
  .dropdown-dlg_filters .wrapper_alerts .checkbox:last-child {
    flex: 1;
    margin-top: 15px; }

/* "SIMULATE" MOBILE */
@media all and (max-width: 499px) {
  #monitor-page-wrapper .module-inner {
    flex-direction: column;
    align-items: stretch; }
    #monitor-page-wrapper .module-inner > .pagination-nav {
      display: none; }
  #monitor-page-wrapper .mode-settings {
    flex-direction: column;
    flex: 0 0 auto; }
    #monitor-page-wrapper .mode-settings > .pagination-nav {
      display: flex; }
  #monitor-page-wrapper .mode-header > * {
    margin: 3px 0; }
    #monitor-page-wrapper .mode-header > *:first-child {
      margin-top: 0; }
    #monitor-page-wrapper .mode-header > *:last-child {
      margin-bottom: 0; }
  #monitor-page-wrapper .mode-controls {
    flex-direction: column;
    align-items: stretch; }
    #monitor-page-wrapper .mode-controls > * {
      margin: 3px 0; }
      #monitor-page-wrapper .mode-controls > *:first-child {
        margin-top: 0; }
      #monitor-page-wrapper .mode-controls > *:last-child {
        margin-bottom: 0; }
    #monitor-page-wrapper .mode-controls .dropdown_actions {
      display: none; }
  #monitor-page-wrapper .wrapper_radios-filters > * {
    margin: 3px 0; }
    #monitor-page-wrapper .wrapper_radios-filters > *:first-child {
      margin-top: 0; }
    #monitor-page-wrapper .wrapper_radios-filters > *:last-child {
      margin-bottom: 0; }
  #monitor-page-wrapper #theMap,
  #monitor-page-wrapper #theList {
    display: none; }
  #monitor-page-wrapper .placard-list {
    display: flex; }
  #monitor-page-wrapper .button_placard-sort {
    display: block; }
  #monitor-page-wrapper .pagination-results {
    max-width: 100%; }
    #monitor-page-wrapper .pagination-results .separator {
      display: none; }
  #monitor-page-wrapper .footer {
    display: block; }
  #monitor-page-wrapper.map-mode .module-inner {
    flex-direction: column;
    align-items: stretch; }
    #monitor-page-wrapper.map-mode .module-inner > .pagination-nav {
      display: flex; }
  #monitor-page-wrapper.map-mode .mode-settings {
    max-width: none;
    flex-direction: column;
    flex-basis: auto; }
    #monitor-page-wrapper.map-mode .mode-settings > .pagination-nav {
      display: none; }
  #monitor-page-wrapper.map-mode .placard-list {
    display: none; }
  #monitor-page-wrapper.map-mode #theMap {
    display: block; }
  .dropdown-dlg_filters .dd-body {
    right: 0; } }

@media all and (max-width: 330px) {
  .dropdown-dlg_filters .dd-body {
    right: auto; } }
