   /*
    * monitor-page-wrapper (100vh) flex:column
    * ├-header
    * ├-module-inner
    * | ├-mode-settings
    * | | ├-mode-header
    * | | | ├-mode-controls
    * | | | | ├-wrapper_search-and-sort
    * | | | | | ├-div (input + search button)
    * | | | | | └-div button_placard-sort
    * | | | | ├-wrapper_radios-filters
    * | | | | | ├-type-radio-group (2 label radios)
    * | | | | | └-dropdown_filters
    * | | | | └-dropdown_actions
    * | | | └-pagination-results
    * | | ├-placard-list
    * | | └-pagination-nav (#1)
    * | ├-theMap
    * | ├-theList
    * | | └-table
    * | └-pagination-nav (#2)
    * └-footer
    */

.dlg-open #monitor-page-wrapper {
   opacity: 0.7;
}

#monitor-page-wrapper {
   display: flex;
   flex-direction: column;
   height: 100vh; /* very important */

   // -- LIST MODE (OR GLOBAL SETTINGS) -----------------------------

   .module-inner {
      display: flex;
      flex-direction: column;
      flex: 1;
   }

   .mode-settings {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      & > .pagination-nav {
         display: none;
      }
   }

   .pagination-results {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 300px;

      .separator {
         display: block;
      }
   }

   .wrapper_placard-list-sort {
      background: $redesign-blue;
      padding: 8px;
      display: none; // initially
      align-items: center;

      select {
         height: 28px;
         flex: 1;
      }
   }

   .wrapper_search-and-sort {
      display: flex;

      @include h_gutter(6px);

      & > div:first-child {
         flex: 1; // grow input+btn to fill space

         display: flex;

         input {
            flex: 1; // grow input to fill space
            padding-left: 5px;
         }
      }
   }

   // all instances
   .pagination-nav {
      display: flex;
      justify-content: space-between;
      flex-shrink: 0; // don't squash me bro
   }

   .wrapper_radios-filters {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: baseline;

      @include h_gutter(6px);
   }

   .mode-header {
      width: 100%;
      min-height: 68px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      padding: 5px;

      & > * {
         flex: 1 0 auto;
      }
   }

   .mode-controls {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;

      @include h_gutter(6px);

      .dropdown_actions {
         margin-left: auto; /* push all way to right */
      }
   }

   .button_placard-sort {
      display: none;
   }

   .placard-list {
      display: none;
      flex-direction: column;
      overflow-y: auto;
      height: 100%;
      flex: 1;
   }

   #theMap {
      display: none;
      height: 100%;
   }

   &.map-mode {
      .module-inner {
         flex-direction: row;
         justify-content: stretch;

         // all in map mode
         & > .pagination-nav {
            display: none;
         }
      }

      /* have to put v_gutter on so when/if it wraps */
      .wrapper_radios-filters {
         @include v_gutter(6px);
      }

      .mode-settings {
         min-width: 255px;
         max-width: 380px;
         display: flex;
         flex-direction: column;
         flex: 0 0 30%;

         & > .pagination-nav {
            display: flex;
         }
      }

      .mode-header {
         flex: 0 0 auto;

         @include v_gutter(6px);
      }

      .mode-controls {
         flex-direction: column;
         align-items: stretch;
         justify-content: space-between;

         @include v_gutter(6px);

         .dropdown_actions {
            display: none;
         }
      }

      .button_placard-sort {
         display: block;
      }

      // All instances
      .pagination-results {
         max-width: none;

         .separator {
            display: none;
         }
      }

      .placard-list {
         display: flex;
      }

      #theList {
         display: none;
      }
      #theMap {
         display: block;
         flex: 1;
      }
   }
}

.dropdown-dlg_filters {
   .dd-body {
      border: 1px solid $senseaware-light-gray;
      max-height: calc(100vh - 145px); // TEST this
   }
   .dd-footer {
      height: 45px;

      @include h_gutter(2px);

      button {
         height: auto;
         padding: 0 10px;
      }
   }
   .dd-body-inner {
      flex: 1;
      padding: 10px;
      overflow-y: auto;

      & > * {
         flex: 0 0 auto;
      }

      @include v_gutter(10px);

      .wrapper_date > label:first-child,
      .wrapper_last > label:first-child,
      & > label {
         margin-top: 10px;
         display: block;
         font-weight: bold;
         color: $senseaware-dark-gray;
      }
   }

   .wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      @include v_gutter(10px);

      .checkbox {
         display: flex;
      }

      & > * {
         margin-left: 10px;
      }
   }

   .wrapper_date,
   .wrapper_last {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include h_gutter(2px);

      .textbox {
         flex: 1;
         max-width: 100px;
      }
   }

   .wrapper_dismissed {
      margin-left: 10px;
   }

   .wrapper_alerts {
      flex-flow: row wrap;

      .checkbox {
         flex: 0 0 45%;
         white-space: nowrap;
      }

      .checkbox:last-child {
         flex: 1; // take whole line &
         margin-top: 15px; // stand away from other alerts
      }
   }
}

/* "SIMULATE" MOBILE */
@media all and (max-width: 499px) {
   #monitor-page-wrapper {

      // -- MOBILE LIST MODE (OR GLOBAL MOBILE SETTINGS) -----------------------------

      .module-inner {
         flex-direction: row;

         & > .pagination-nav {
            display: none;
         }
      }

      .mode-settings {
         flex-direction: column;
         flex: 0 0 auto; // children will not grow or shrink

         & > .pagination-nav {
            display: flex;
         }
      }

      .mode-header {
         @include v_gutter(6px);
      }

      .mode-controls {
         flex-direction: column;
         align-items: stretch;

         @include v_gutter(6px);

         .dropdown_actions {
            display: none;
         }
      }

      .wrapper_radios-filters {
         @include v_gutter(6px);
      }

      #theMap,
      #theList {
         display: none;
      }
      .placard-list {
         display: flex;
      }
      .button_placard-sort {
         display: block;
      }

      .pagination-results {
         max-width: 100%;
         .separator {
            display: none;
         }
      }

      .footer {
         display: block;
      }

      // -- MAP MODE ------------------------------
      &.map-mode {
         .module-inner {
            flex-direction: column;

            & > .pagination-nav {
               display: flex;
            }
         }

         .mode-settings {
            flex-direction: column;
            flex-basis: auto;

            & > .pagination-nav {
               display: none;
            }
         }

         .placard-list {
            display: none;
         }

         #theMap {
            display: block;
         }
      }
   }

   .dropdown-dlg_filters .dd-body {
      right: 0;
   }
}

@media all and (max-width: 330px) { // estimate only
   .dropdown-dlg_filters .dd-body {
      right: auto;
   }
}


