#monitor-page-wrapper {
   display: flex;
   flex-direction: column;
   height: 100vh;

   // List mode & Global settings
   .pagination-results {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 300px;

      .separator {
         display: block;
      }

      & > * {
         flex: 0 auto;
      }
   }

   #radio-group-type {
      display: inline-block;
   }

   #theMap {
      display: none;
      min-height: 300px;
      height: 100%;
   }

   .pagination-nav {
      display: flex;
      justify-content: space-between;
      flex: 0 0 auto;
   }

   .module-inner {
      height: 100vh;
      display: flex;
      flex-direction: column;
      position: unset;
   }

   // mode-settings is the left side bar
   .mode-settings {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      & > .pagination-nav {
         display: none;
      }
   }

   .mode-header {
      width: 100%;
      min-height: 68px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      padding: 5px;

      & > * {
         flex: 1 0 auto;
      }
   }

   .mode-controls {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      & > * {
         flex: 0 0 auto;
         margin-right: 10px;
      }
   }

   .dropdown_actions {
      display: flex;
      margin-left: auto; /* push all way to right */
      margin-right: 0;
   }

   .placard-list {
      display: none;
      flex-direction: column;
      overflow-y: scroll;
      flex-grow: 1;

      ul {
         list-style-type: none;
      }
   }

   .button_placard-sort {
      display: none;
   }

   .placard {
      min-height: 100px;
      background: white;
      border-bottom: 1px solid lightgray;
      &:first-child {
         border-top: 1px solid lightgray;
      }
   }

   &.map-mode {
      .module-inner {
         flex-direction: row;
         justify-content: stretch;

         & > .pagination-nav {
            display: none;
         }
      }

      .pagination-results {
         max-width: 100%;
         .separator {
            display: none;
         }
      }

      #theList {
         display: none;
      }
      #theMap {
         display: block;
      }

      .button_placard-sort {
         display: block;
      }

      .mode-settings {
         min-width: 255px;
         display: flex; 
         flex-direction: column;
         flex: 0 0 30%;

         & > .pagination-nav {
            display: flex;
         }

         .mode-header {
            flex: 0 0 auto;
         }
      }

      .dropdown_actions {
         display: none;
      }

      .mode-controls {
         flex-direction: column;
         align-items: stretch;
         justify-content: space-between;

         & > * {
            width: auto;
         }
      }

      .placard-list {
         display: block;
      }

      #theMap {
         flex: 3 1 auto;
      }
   }
}

/* simulate mobile */
@media all and (max-width: 499px) {
   #monitor-page-wrapper {
      // first define what list mode looks like
      #theMap,
      #theList {
         display: none;
      }
      .placard-list {
         display: block;
      }
      .button_placard-sort {
         display: block;
      }

      .pagination-results {
         .separator {
            display: block;
         }
      }

      .pagination-nav {
         display: flex;
      }

      .mode-settings {
         flex-direction: column;
         flex: 0 0 auto;

         & > .pagination-nav {
            display: flex;
         }

         .mode-header {
            flex: 0 0 auto;
         }
      }

      .dropdown_actions {
         display: none;
      }

      .mode-controls {
         flex-direction: column;
         align-items: stretch;

         & > * {
            width: auto;
         }
      }

      .footer {
         display: block;
      }

      // map mode
      &.map-mode {
         #theMap {
            display: block;
         } 

         .pagination-results {
            .separator {
               display: block;
            }
         }

         .module-inner {
            flex-direction: column;

            .pagination-nav {
               display: none;
            }
         }

         .mode-settings {
            flex-direction: column;
            flex-basis: auto;
         }

         .placard-list {
            display: none;
         }

         // both
         .pagination-nav {
            display: none;
         }
      }
   }
}
