#monitor-page-wrapper {
   display: flex;
   flex-direction: column;
   height: 100vh;

   // List mode & Global settings
   .pagination-results {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 300px;

      .separator {
         display: block;
      }
   }

   #theMap {
      display: none;
      height: 100%;
   }

   // all instances
   .pagination-nav {
      display: flex;
      justify-content: space-between;
      flex-shrink: 0; // don't squash me bro
   }

   .module-inner {
      display: flex;
      flex-direction: column;
      flex: 1;
   }

   /*
    * monitor-page-wrapper (100vh) flex:column
    * ├-header
    * ├-module-inner
    * | ├-mode-settings
    * | | ├-mode-header
    * | | | ├-mode-controls
    * | | | | ├-searchbox_wrapper
    * | | | | ├-type-radio-group
    * | | | | ├-dropdown_filters
    * | | | | └-dropdown_actions
    * | | | └-pagination-results
    * | | ├-placard-list
    * | | └-pagination-nav (#1)
    * | ├-theMap
    * | ├-theList
    * | | └-table
    * | └-pagination-nav (#2)
    * └-footer
    */

   // mode-settings is the left side bar
   .mode-settings {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      & > .pagination-nav {
         display: none;
      }
   }

   .mode-header {
      width: 100%;
      min-height: 68px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      padding: 5px;

      & > * {
         flex: 1 0 auto;
      }
   }

   .mode-controls {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex: 0 0 auto;

      & > * {
         margin-right: 10px;
      }
   }

   .dropdown_actions {
      display: flex;
      margin-left: auto; /* push all way to right */
      margin-right: 0;
   }

   .placard-list {
      display: none;
      flex-direction: column;
      overflow-y: scroll;
      height: 100%;
      flex: 1;
   }

   .button_placard-sort {
      display: none;
   }

   .placard {
      min-height: 112px; /* same as SA */
      background: white;
      border-bottom: 1px solid lightgray;
      &:first-child {
         border-top: 1px solid lightgray;
      }
   }

   &.map-mode {
      .module-inner {
         flex-direction: row;
         justify-content: stretch;

         // all in map mode
         & > .pagination-nav {
            display: none;
         }
      }

      .pagination-results {
         max-width: 100%;
         .separator {
            display: none;
         }
      }

      #theList {
         display: none;
      }
      #theMap {
         display: block;
      }

      .button_placard-sort {
         display: block;
      }

      .mode-settings {
         min-width: 255px;
         display: flex; 
         flex-direction: column;
         flex: 0 0 30%;

         & > .pagination-nav {
            display: flex;
         }

         .mode-header {
            flex: 0 0 auto;
         }
      }

      .dropdown_actions {
         display: none;
      }

      .mode-controls {
         flex-direction: column;
         align-items: stretch;
         justify-content: space-between;

         & > * {
            margin-bottom: 8px;
         }
      }

      .placard-list {
         display: flex;
      }

      #theMap {
         flex: 3 1 auto;
      }
   }
}

/* "SIMULATE" MOBILE */
@media all and (max-width: 499px) {
   #monitor-page-wrapper {

      // -- LIST MODE (OR GLOBAL SETTINGS) -----------------------------

      #theMap,
      #theList {
         display: none;
      }
      .placard-list {
         display: flex;
      }
      .button_placard-sort {
         display: block;
      }

      .pagination-results {
         max-width: 100%;
         .separator {
            display: none;
         }
      }

      .module-inner {
         flex-direction: row;

         & > .pagination-nav {
            display: none;
         }
      }

      .mode-settings {
         flex-direction: column;
         flex: 0 0 auto;

         & > .pagination-nav {
            display: flex;
         }
      }

      .dropdown_actions {
         display: none;
      }

      .mode-controls {
         flex-direction: column;
         align-items: stretch;

         & > * {
            width: auto;
            margin-bottom: 8px;
         }
      }

      .footer {
         display: block;
      }

      // -- MAP MODE ------------------------------
      &.map-mode {
         #theMap {
            display: block;
         } 

         .module-inner {
            flex-direction: column;

            & > .pagination-nav {
               display: flex;
            }
         }

         .mode-settings {
            flex-direction: column;
            flex-basis: auto;

            & > .pagination-nav {
               display: none;
            }
         }

         .placard-list {
            display: none;
         }
      }
   }
}
