body {
   background-color: lightgray;
   font-size: .8em;
}

img {
   padding-left: 4px;
}

* {
   font-size: 1em;
   font-family: Avenir LT Std, Helvetica;
}

.selectall { 
   display: none;
}

#byPhaseHeaderRow, #twoWayHeaderRow, #advRadios,
#byLocationSettings, #locEnterExitGeofence, #byDateSettings {
   display: none;
}

#byPhaseHeaderRow {
   font-weight: bold;
}

#twoWayHeaderRow th:nth-child(n+2) {
   border-bottom: black solid 1px;
}

table {
   text-align: center;
   border-spacing: 10px;
}

tr {
   height: 1.5em;
}

td:nth-child(1) {
   text-align: right;
   padding-right: 25px;
   font-weight: bold;
   color: #565656;
}

td:nth-child(1) img {
   padding-right: 5px;
}
/*
td:nth-child(1) {
   background: lightblue;
}
td:nth-child(2) {
   background: lightgrey;
}
td:nth-child(3) {
   background: lightgreen;
}
td:nth-child(4) {
   background: pink;
}
td:nth-child(5) {
   background: yellow;
}
td:nth-child(6) {
   background: orange;
}*/

.formLayout {
   padding: 10px;
   width: 300px;
}
.formLayout label {
   font-weight: bold;
}
.formLayout label, .formLayout .control {
   display: block;
   width: 150px;
   float: left;
   margin-bottom: 5px;
}
.formLayout br, #locInOutGeofence br, #locEnterExitGeofence br, #byDateSettings br {
   clear: left;
}

#byLocationSettings label, #byDateSettings label {
   display: block;
   font-weight: bold;
   font-variant: small-caps;
   text-transform: capitalize;
}
#byLocationSettings table, #reportingIntervals {
   padding-left: 10px;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7 {
   display: block;
   float: left;
}
#locInoutGeofence, #locEnterExitGeofence, #byDateRI {
   line-height: 2.1em;
}

#locInOutGeofence, #locEnterExitGeofence {
   padding-left: 20px;
}
#locInOutGeofence label, #locEnterExitGeofence label {
   display: inline;
}
#locInOutGeofence label.col2,
#locInOutGeofence label.col3,
#locEnterExitGeofence label.col4,
#locEnterExitGeofence label.col5 {
   text-align: center;
}
#locInOutGeofence .col1 {
   width: 150px;
   margin-right: 20px;
}
#locInOutGeofence .col2,
#locInOutGeofence .col3 {
   width: 100px;
}

#locEnterExitGeofence .col1 {
   width: 50px;
}
#locEnterExitGeofence .col2 {
   width: 100px;
}
#locEnterExitGeofence .col3 {
   width: 100px;
}
#locEnterExitGeofence .col4 {
   width: 100px;
}
#locEnterExitGeofence .col5 {
   width: 100px;
}

#byDateSettings .col1 {
   width: 25px;
}
#byDateSettings .col2 {
   width: 50px;
}
#byDateSettings .col3 {
   width: 50px;
}
#byDateSettings .col4 {
   width: 100px;
}
#byDateSettings .col5 {
   width: 80px;
   text-align: center;
}
#byDateSettings .col6 {
   width: 100px;
}
#byDateSettings .col7 {
   width: 100px;
}

.plusminus {
   padding-left: 3px;
   font-weight: bold;
   font-size: 1.5em;
}


#setup {
   background-color: darkgray;
   border-bottom: 1px black;
   padding: 5px;
   margin: 0;
}

#setup h1 {
   font-size: 1em;
}

table tr.nonMotionHib span {
   display: none;
}
