html, body, h4 {
   height: 100%;
   margin: 0;
   padding: 0;
}
#map {
   float: right;
   height: 100%;
   width: 100%;
}
#left-panel {
   position: absolute;
   left: 0;
   height: 100%;
}
#left-panel-content {
   padding-left: 5px;
}
h3 {
   height: 40px;
   line-height: 40px;
   vertical-align: middle;
   background-color: #222;
   color: #fff;
   padding-left: 5px;
   height: 40px;
   margin: 0;
   width: 100%;
}
#arrow {
   position: absolute;
   left: 500;
   height: 40px;
   line-height: 40px;
   width: 30px;
   text-align: center;
   vertical-align: center;
   background-color: #000;
   color: #fff;
   z-index: 999;
   font-size: 24px;
}

#results { 
   display: none;
   width: 100%;
}
#results select {
   width: 100%;
}

.accordion {
   width: 100%;
}
.accordion-head {
   cursor: pointer;
   overflow: hidden;
}
.accordion-head h4 {
   float: left;
   margin: 0;
}
.accordion-body {
   display: none;
}
.arrow {
   display: inline-block;
   width: 0px;
   height: 0px;
   border: 6px solid transparent;
   border-top-color: #000;
   margin-top: 7px;
}
.accordion-head.open .arrow {
   border-bottom-color: #000;
   border-top-color: transparent;
   margin-top: 0;
}

@media only screen and (max-width: 799px) {
   #map {
      float: none;
      height: 100%;
      width: 100%;
   }
   #left-panel {
      float: none;
      height: auto;
      width: 100%;
   }
}
